.App {
  text-align: center;
}

body {
  background-image: url('assets/background-posters.jpg');
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}